<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.demo.gas.pay.dao.mapper.RegionMapper">

    <select id="getRegionByParentId" resultType="cn.demo.gas.pay.model.Region" parameterType="java.lang.Integer">
        select * from `region`
        where parentId = #{parentId} order by sort;
    </select>

    <select id="queryRegionIdList" resultType="Integer" parameterType="Integer">
        select id from region where `level` = #{level}
    </select>

    <select id="loadAll" resultType="cn.demo.gas.pay.model.Region">
        select * from region order by `level` asc, sort asc
    </select>

</mapper>