<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="containerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/pay/logs/gas.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/data/pay/logs/gas.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger:%L - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="payAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/pay/logs/pay.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/data/pay/logs/pay.log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger:%L - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger:%L - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <!-- 应用服务级 -->
    <logger name="cn.demo.gas.pay" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="payAppender"/>
        <appender-ref ref="consoleAppender"/>
    </logger>


    <!-- 容器级日志 -->
    <root>
        <level value="WARN"/>
        <appender-ref ref="containerAppender"/>
    </root>


</configuration>