<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.demo.gas.pay.dao.mapper.RechargeMapper">

    <select id="getRechargeList" resultType="cn.demo.gas.pay.model.Recharge" parameterType="cn.demo.gas.pay.model.QuerySubmit">
        SELECT a.*, b.userName, concat(c.name,c.suffix) as provinceName FROM recharge a
        LEFT JOIN user b ON a.uid = b.id
        LEFT JOIN region c on b.provinceId = c.id
        <include refid="rechargeWhereSql" />
        ORDER BY payTime DESC
        LIMIT #{start}, #{end}
    </select>

    <select id="getRechargeCount" resultType="cn.demo.gas.pay.model.Recharge" parameterType="cn.demo.gas.pay.model.QuerySubmit">
        SELECT a.*, b.userName, concat(c.name,c.suffix) as provinceName FROM recharge a
        LEFT JOIN user b ON a.uid = b.id
        LEFT JOIN region c on b.provinceId = c.id
        <include refid="rechargeWhereSql" />
    </select>

    <sql id="rechargeWhereSql" >
        <where>
            <if test="uid != null and uid > 0">
                a.id = #{uid}
            </if>
            <if test="source != null">
                and a.source = #{source}
            </if>
            <if test="payType != null">
                and a.type = #{payType}
            </if>
            <if test="state != null">
                and a.state = #{state}
            </if>
            <if test="userType != null">
                and b.type = #{userType}
            </if>
            <if test="provinceId != null and provinceId > 0">
                and a.provinceId = #{provinceId}
            </if>
            <if test="startTime != null">
                and a.payTime >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[
                and a.payTime < #{endTime}
            ]]>
            </if>
        </where>
    </sql>

</mapper>