<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.demo.gas.pay.dao.mapper.TestMapper">
    <select id="getAccount" resultType="cn.demo.gas.pay.model.Account">
        select * from account where id = ${id}
    </select>
</mapper>
