<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.demo.gas.pay.dao.mapper.UserMapper">
    <insert id="insertUser" parameterType="cn.demo.gas.pay.model.User" keyProperty="id" useGeneratedKeys="true">
        insert into `user` (username, contact, `type`, phone, state, location, address, createTime)
        values (#{username}, #{contact}, #{type}, #{phone}, #{state}, #{location}, #{address}, #{createTime})
    </insert>


    <insert id="insertAccount" parameterType="cn.demo.gas.pay.model.Account">
        insert into `account` (uid, balance, `type`, createTime)
        values (#{uid}, #{balance}, #{type}, #{createTime})
    </insert>


    <select id="getUserList" resultType="cn.demo.gas.pay.model.Recharge" parameterType="cn.demo.gas.pay.model.QuerySubmit">
        select * from `user`
        WHERE 1 = 1
        <if test="uid != null and uid > 0">
            and uid = #{uid}
        </if>
        ORDER BY a.id ASC , createTime DESC
        LIMIT #{start}, #{end}
    </select>

</mapper>